.streams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.remote-stream,
.my-stream {
  width: 50%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remote-stream video,
.my-stream video {
  width: 100%;
  height: auto;
}
